In [2]:
import pandas

In [3]:
import pandas as pd

In [4]:
import math as mt

In [5]:
from np import random

ModuleNotFoundError: No module named 'np'

In [6]:
import numpy as np

In [7]:
from numpy import random

In [20]:
Example1 = random.rand(2,2)

In [22]:
print(Example1)

[[0.17989034 0.22020876]
 [0.21795178 0.90689082]]

In [12]:
cars = pd.read_csv('cars.csv',delimiter=',')

In [36]:
name = cars[['name of car']]

In [37]:
print(name)

   name of car
0         Ford
1         Jeep
2        Honda
3          KIA
4      Toyota
5          BMW
6     Mercedes
7           GM
8      Hyundai
9     Infiniti
10  Land Rover
11       Lexus
12       Mazda
13  Mitsubishi
14      Nissan
15         GMC
16        Fiat
17    Chrysler
18       Dodge
19       Acura
20        Audi
21   Chevrolet
22       Buick
23        Ford
24        Jeep
25       Honda
26         KIA
27     Toyota
28         BMW
29    Mercedes
30          GM
31     Hyundai
32    Infiniti
33  Land Rover
34       Lexus
35       Mazda
36  Mitsubishi
37      Nissan
38         GMC
39        Fiat
40    Chrysler
41       Dodge
42       Acura
43        Audi
44   Chevrolet
45       Buick
46        Jeep
47       Honda
48         KIA
49       Dodge

In [13]:
print(cars)

   name of car  speed of car  distance of car
0         Ford             4                2
1         Jeep             4                4
2        Honda             7               10
3          KIA             7               10
4      Toyota              8               14
5          BMW             9               16
6     Mercedes            10               17
7           GM            10               18
8      Hyundai            10               20
9     Infiniti            11               20
10  Land Rover            11               22
11       Lexus            12               24
12       Mazda            12               26
13  Mitsubishi            12               26
14      Nissan            12               26
15         GMC            13               26
16        Fiat            13               28
17    Chrysler            13               28
18       Dodge            13               32
19       Acura            14               32
20        Audi            14               32
21   Chevrolet            14               34
22       Buick            14               34
23        Ford            15               34
24        Jeep            15               36
25       Honda            15               36
26         KIA            16               40
27     Toyota             16               40
28         BMW            17               42
29    Mercedes            17               46
30          GM            17               46
31     Hyundai            18               48
32    Infiniti            18               50
33  Land Rover            18               52
34       Lexus            18               54
35       Mazda            19               54
36  Mitsubishi            19               56
37      Nissan            19               56
38         GMC            20               60
39        Fiat            20               64
40    Chrysler            20               66
41       Dodge            20               68
42       Acura            20               70
43        Audi            22               76
44   Chevrolet            23               80
45       Buick            24               84
46        Jeep            24               85
47       Honda            24               92
48         KIA            24               93
49       Dodge            25              120

In [ ]:
# 1. Define a variable that represents a dictionary with 5 INT elements

In [49]:
Names_Price = {'Jeep' : 45000, 'Nissan' : 22000, 'Toyota' : 25000, 'BMW' : 55000, 'GMC' : 15000}

In [50]:
print(Names_Price)

{'Jeep': 45000, 'Nissan': 22000, 'Toyota': 25000, 'BMW': 55000, 'GMC': 15000}

In [41]:
Names_Price(Jeep)

NameError: name 'Jeep' is not defined

In [42]:
Names_Price('Jeep')

TypeError: 'dict' object is not callable

In [51]:
Names_Price['Jeep']

45000

In [52]:
Names_Price

{'Jeep': 45000, 'Nissan': 22000, 'Toyota': 25000, 'BMW': 55000, 'GMC': 15000}

In [53]:
type(Names_Price)

dict

In [54]:
type('Jeep')

str

In [55]:
type(45000)

int

In [56]:
# 2. Use functions from the math module to perform three different math operations on three of the five elements

In [59]:
type(cars)

pandas.core.frame.DataFrame

In [7]:
print(cars.head())

  name of car  speed of car  distance of car
0        Ford             4                2
1        Jeep             4                4
2       Honda             7               10
3         KIA             7               10
4     Toyota              8               14

In [14]:
cars.head()

  name of car  speed of car  distance of car
0        Ford             4                2
1        Jeep             4                4
2       Honda             7               10
3         KIA             7               10
4     Toyota              8               14

In [15]:
cars.keys()

Index(['name of car', 'speed of car', 'distance of car'], dtype='object')

In [16]:
cars.toyota = cars[cars['name of car'] == 'Toyota']

C:\Users\CarlosBarth\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [27]:
math.sqrt(4)

NameError: name 'math' is not defined

In [28]:
import math

In [29]:
math.sqrt(4)

2.0

In [30]:
import math as mt

In [31]:
dataOne = random.rand(5,5)

In [32]:
dataOne

array([[0.70869521, 0.98186477, 0.80355873, 0.48881034, 0.79619061],
       [0.85387797, 0.60403315, 0.39066822, 0.02447111, 0.40929048],
       [0.09421993, 0.45553608, 0.62438482, 0.48668489, 0.47561411],
       [0.53861941, 0.51189967, 0.46700144, 0.18820973, 0.80763848],
       [0.05427533, 0.93419088, 0.84437019, 0.67388434, 0.23332018]])

In [33]:
np.mean(dataOne)

0.5380524028283145

In [35]:
print('Task 1: Get Started with Data Science and Python')

Task 1: Get Started with Data Science and Python

In [36]:
variableName1 = 'Task 1: Get Started with Data Science and Python'

In [37]:
print(variableName1)

Task 1: Get Started with Data Science and Python

In [38]:
Value1 = 5000
Value2 = 2500
Value3 = 6500

In [42]:
(Value2 + Value1)

7500

In [43]:
(Value2 + Value1)/3

2500.0

In [44]:
(Value2 + Value1)/3 * math.sqrt(4)

5000.0

In [45]:
(Value2 + 5000)/3 * math.sqrt(4)

5000.0

In [14]:
for row in cars:
    print(row)

name of car
speed of car
distance of car

In [15]:
for index, row in cars.iterrows():
    total = float(row['speed of car']) * float( row['distance of car'])

In [18]:
print(total)

3000.0

In [19]:
print(row['speed of car'],row['distance of car'],str(total))

25 120 3000.0